@font-face {
  font-family: 'Centauri';
  src: url('../fonts/Centauri.otf') format('opentype');
}

@font-face {
  font-family: 'OCRAStd';
  src: url('../fonts/OCRAStd.otf') format('opentype');
}

body {
  /*background: url("../img/texture.png") fixed #151515;*/
  /*background: url("../img/texture.png") fixed #23252d;*/
  font-family: 'OCRAStd', monospace;
  color: #FF6F59;
  background: #23252d;
  margin: 0 auto;
  
}

a {
  color: #FF6F59;
}

#game {
  margin: 0 auto;
}
