//
   Created by Redfox on 08.11.2015.

doctype html
html(lang="en")
  head
    //title= pageTitle
    link(rel = 'stylesheet' type='text/css' href = '/css/tests.css')
  body
    h1 Jade - node template engine
    p Tests
    #screen
    canvas#canvas
    footer
      //script(src = '/socket.io/socket.io.js')
      //script(src = '/js/crafty-min.js')
      script(src = '/js/tests-bundle.js')
