//
   Created by Redfox on 08.11.2015.

doctype html
html(lang="en")
  head
    //title= pageTitle
  body
    //h1 Jade - node template engine
    if uuid
      p uuid: #{uuid}
    else
      p No uuid
    #screen
    footer
      script(src = '/socket.io/socket.io.js')
      script(src = '/js/crafty-min.js')
      script(src = '/js/external.js')
